[Unit]
Description=Gunicorn instance to serve Flaskr
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/flask-tutorial
Environment="PATH=/home/ubuntu/flask-tutorial"
ExecStart=/home/ubuntu/flask-tutorial/bin/gunicorn --workers 3 --bind unix:flask.sock -m 007 wsgi:app


[Install]
WantedBy=multi-user.target
